<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        Player Test Field
                        <div class="text-right">
                            <button class="btn btn-primary btn-sm" v-on:click="player.life > 0 ? player.life-- : 0"><i class="fas fa-minus"></i>
                            </button>
                            {{ player.life }}
                            <button class="btn btn-primary btn-sm" v-on:click="player.life++">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="text-right">
                            <button class="btn btn-primary btn-sm" v-on:click="addCard"><i class="fas fa-plus"></i></button>
                        </div>
                        <div class="row field">
                            <div class="col-4" v-for="(card, key) in field">
                                <div class="border rounded p-2 text-center">
                                    <div>{{ card.attack }} / {{ card.life }}</div>
                                    <div>
                                        <button class="btn btn-primary btn-sm" v-on:click="viewCard(card)">view</button>
                                    </div>
                                    <div>
                                        <button class="btn btn-primary btn-sm" v-on:click="field.splice(key, 1)">kill</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Active Card -->
        <div class="modal" tabindex="-1" id="activeCard" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" v-on:click="activeCard = null">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" v-if="activeCard">
                        <div class="text-right">
                            Life:
                            <button class="btn btn-primary btn-sm" v-on:click="activeCard.life > 0 ? activeCard.life-- : 0"><i class="fas fa-minus"></i>
                            </button>
                            {{ activeCard.life }}
                            <button class="btn btn-primary btn-sm" v-on:click="activeCard.life++"><i class="fas fa-plus"></i></button>
                        </div>
                        <div class="text-right">
                            Attack:
                            <button class="btn btn-primary btn-sm" v-on:click="activeCard.attack > 0 ? activeCard.attack-- : 0"><i class="fas fa-minus"></i>
                            </button>
                            {{ activeCard.attack }}
                            <button class="btn btn-primary btn-sm" v-on:click="activeCard.attack++"><i class="fas fa-plus"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                player: {
                    life: 20,
                },
                field: [],
                activeCard: null,
            }
        },
        methods: {
            addCard() {
                this.field.push({
                    name: 'card name',
                    life: 2,
                    attack: 2,
                });
            },
            viewCard(card) {
                this.$set(this.$data, 'activeCard', card);
                $('#activeCard').modal('show');
            }
        }
    }
</script>
